CoverterWSJSPClient/web/WEB-INF/wsdl/localhost_8080/Currency_Converter/ConverterWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://converter.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://converter.me.org/">

<xs:element name="euroUsd" type="tns:euroUsd"/>

<xs:element name="euroUsdResponse" type="tns:euroUsdResponse"/>

<xs:element name="usdEuro" type="tns:usdEuro"/>

<xs:element name="usdEuroResponse" type="tns:usdEuroResponse"/>

<xs:complexType name="usdEuro">
<xs:sequence>
<xs:element name="usd" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usdEuroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="euroUsd">
<xs:sequence>
<xs:element name="euro" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="euroUsdResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>